/* homepage background image */
body, html {
  margin: 0;
  padding: 0;
}

.custom-nav {
  background-color: rgba(0,0,0,0.3);
  background: transparent;
  border-color: transparent;
  font-size: 1.2rem;
  
}

body {
  background-image: url(../images/photovoltaic-2138992.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  
}

.main-homepage {
  padding: 1rem;
  background-color: rgba(192,192,192,0.8);
}

.contact-form {
  padding: 1rem;
  background-color: rgba(192,192,192,0.8);
}

